In [1]:
import pandas as pd 
import numpy as np
import warnings
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import sys
import re
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn import preprocessing
import matplotlib as mpl
from numpy import unique
from numpy import where
warnings.filterwarnings('ignore')

#### Preprocessing the dataset Google Playstore App

In [2]:
#Reading Data using Pandas Library
#Method read_csv is used to read the CSV file which is our dataset file format
googleplaystore = pd.read_csv("googleplaystore.csv")
#Now it will display the data as dataframe
googleplaystore
#We are now dropping the duplicates from the attribute "App" in the dataframe
google_apps = googleplaystore.drop_duplicates(subset='App')
#Display's count of apps in the dataset
print('Total number of apps in the dataset = ', google_apps['App'].value_counts().sum())
#Displays modified dataset
google_apps

Total number of apps in the dataset =  9660

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [3]:
#using info() we are displaying attribute data-type
print(google_apps.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB
None

In [4]:
#We are taking sum of nulls from each attribute
google_apps.isnull().sum()

App                  0
Category             0
Rating            1463
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [5]:
# we have created a function to display dtypes, 
# number of null values in a attribute, and unique count of attributes when ever we call this function
def printinfo():
    temp = pd.DataFrame(index=google_apps.columns)
    temp['data_type'] = google_apps.dtypes
    temp['null_count'] = google_apps.isnull().sum()
    temp['unique_count'] = google_apps.nunique()
    return temp

In [6]:
# finding if there are any null values in the Rating column.
google_apps['Rating'].isnull().values.any()

True

In [7]:
# finding if there are any null values in the Type column.
google_apps['Type'].isnull().values.any()

True

In [8]:
# Replace the missing values with "FREE" in "Type" attribute
google_apps['Type'].fillna("Free",inplace = True)

In [9]:
# Checking if there is any null values in content rating
google_apps[google_apps['Content Rating'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [10]:
# For one of the rows, all of the current column values are being swapped out for those from the previous column. 
# This row should therefore be removed from our dataframe.
google_apps.dropna(subset = ['Content Rating'],inplace=True,how='any')
printinfo()

               data_type  null_count  unique_count
App               object           0          9659
Category          object           0            33
Rating           float64        1463            39
Reviews           object           0          5330
Size              object           0           461
Installs          object           0            21
Type              object           0             2
Price             object           0            92
Content Rating    object           0             6
Genres            object           0           118
Last Updated      object           0          1377
Current Ver       object           8          2817
Android Ver       object           2            33

In [11]:
# Use the Mode to fill in the Rating Column's missing values with the help of "fillna()" method
modevalue_rating = google_apps['Rating'].fillna(google_apps['Rating'].mode()[0],inplace=True)
modevalue_rating
# changing the data type of "Reviews" as float
google_apps['Reviews'] = google_apps['Reviews'].astype('float')
# Checking number of null values in a attribute, and unique count of attributes when ever we call this function
printinfo()

               data_type  null_count  unique_count
App               object           0          9659
Category          object           0            33
Rating           float64           0            39
Reviews          float64           0          5330
Size              object           0           461
Installs          object           0            21
Type              object           0             2
Price             object           0            92
Content Rating    object           0             6
Genres            object           0           118
Last Updated      object           0          1377
Current Ver       object           8          2817
Android Ver       object           2            33

In [12]:
# Data Processing
# Changing "size" column data type from object to Integer
# Eliminating the `+` Symbol and replacing them with ''
google_apps['Size'] = google_apps['Size'].astype(str).str.replace('+','')
google_apps['Size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 9659, dtype: object

In [13]:
#Eliminating the `,` Symbol and replacing them with ''
google_apps['Size'] = google_apps['Size'].astype(str).str.replace(',','')
google_apps['Size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 9659, dtype: object

In [14]:
#Replacing the 'M' with e^6.
google_apps['Size'] = google_apps['Size'].astype(str).str.replace('M','e+6')
google_apps['Size']

0                     19e+6
1                     14e+6
2                    8.7e+6
3                     25e+6
4                    2.8e+6
                ...
10836                 53e+6
10837                3.6e+6
10838                9.5e+6
10839    Varies with device
10840                 19e+6
Name: Size, Length: 9659, dtype: object

In [15]:
#Replacing the `k` with e^3.
google_apps['Size']= google_apps['Size'].astype(str).str.replace('k', 'e+3')
google_apps['Size']

0                     19e+6
1                     14e+6
2                    8.7e+6
3                     25e+6
4                    2.8e+6
                ...
10836                 53e+6
10837                3.6e+6
10838                9.5e+6
10839    Varies with device
10840                 19e+6
Name: Size, Length: 9659, dtype: object

In [16]:
#Replacing the `Varies with device` value with *Nan*.
google_apps['Size'] = google_apps.Size.replace('Varies with device', np.NaN)
google_apps['Size']

0         19e+6
1         14e+6
2        8.7e+6
3         25e+6
4        2.8e+6
          ...
10836     53e+6
10837    3.6e+6
10838    9.5e+6
10839       NaN
10840     19e+6
Name: Size, Length: 9659, dtype: object

In [17]:
#Using "to_numeric" converting to Numeric type.
google_apps['Size'] = pd.to_numeric(google_apps['Size'])
google_apps['Size']

0        19000000.0
1        14000000.0
2         8700000.0
3        25000000.0
4         2800000.0
            ...
10836    53000000.0
10837     3600000.0
10838     9500000.0
10839           NaN
10840    19000000.0
Name: Size, Length: 9659, dtype: float64

In [18]:
#eliminating the rows of Size column which is having "NaN"
google_apps.dropna(subset = ['Size'], inplace=True)
# Checking number of null values in a attribute, and unique count of attributes when ever we call this function
printinfo()

               data_type  null_count  unique_count
App               object           0          8432
Category          object           0            33
Rating           float64           0            39
Reviews          float64           0          4304
Size             float64           0           459
Installs          object           0            20
Type              object           0             2
Price             object           0            87
Content Rating    object           0             6
Genres            object           0           115
Last Updated      object           0          1358
Current Ver       object           8          2701
Android Ver       object           2            33

In [19]:
# Eliminating the `+` Symbol and replacing them with ''
google_apps['Installs'] = google_apps['Installs'].astype(str).str.replace('+','')

In [20]:
# Eliminating the `,` Symbol and replacing them with ''
google_apps['Installs'] = google_apps['Installs'].astype(str).str.replace(',', '')

In [21]:
# converting to Numeric type.
google_apps['Installs'] = pd.to_numeric(google_apps['Installs'])

In [22]:
# Checking number of null values in a attribute, and unique count of attributes when ever we call this function
printinfo()

               data_type  null_count  unique_count
App               object           0          8432
Category          object           0            33
Rating           float64           0            39
Reviews          float64           0          4304
Size             float64           0           459
Installs           int64           0            20
Type              object           0             2
Price             object           0            87
Content Rating    object           0             6
Genres            object           0           115
Last Updated      object           0          1358
Current Ver       object           8          2701
Android Ver       object           2            33

In [23]:
# Converting the Price column from object to numeric
# Have a look to know how many unique values are having in 'Price' column
# price=google_apps['Price'].nunique()
# google_apps['Price'].value_counts()

In [24]:
# Remove the `$` symbol from price column values
# google_apps['Price'] = google_apps['Price'].astype(str).str.replace('$','')
# Finally converting to Numeric type
# google_apps['Price'] = pd.to_numeric(google_apps['Price'])
google_apps['Price'] = google_apps['Price'].str.replace('$','')

In [25]:
google_apps['Price']=pd.to_numeric(google_apps['Price'])
google_apps.nsmallest(10, 'Price')
google_apps.nlargest(10,'Price')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4367,I'm Rich - Trump Edition,LIFESTYLE,3.6,275.0,7300000.0,10000,Paid,400.00,Everyone,Lifestyle,"May 3, 2018",1.0.1,4.1 and up
4197,most expensive app (H),FAMILY,4.3,6.0,1500000.0,100,Paid,399.99,Everyone,Entertainment,"July 16, 2018",1.0,7.0 and up
4362,💎 I'm rich,LIFESTYLE,3.8,718.0,26000000.0,10000,Paid,399.99,Everyone,Lifestyle,"March 11, 2018",1.0.0,4.4 and up
5351,I am rich,LIFESTYLE,3.8,3547.0,1800000.0,100000,Paid,399.99,Everyone,Lifestyle,"January 12, 2018",2.0,4.0.3 and up
5354,I am Rich Plus,FAMILY,4.0,856.0,8700000.0,10000,Paid,399.99,Everyone,Entertainment,"May 19, 2018",3.0,4.4 and up
5356,I Am Rich Premium,FINANCE,4.1,1867.0,4700000.0,50000,Paid,399.99,Everyone,Finance,"November 12, 2017",1.6,4.0 and up
5358,I am Rich!,FINANCE,3.8,93.0,22000000.0,1000,Paid,399.99,Everyone,Finance,"December 11, 2017",1.0,4.1 and up
5359,I am rich(premium),FINANCE,3.5,472.0,965000.0,5000,Paid,399.99,Everyone,Finance,"May 1, 2017",3.4,4.4 and up
5362,I Am Rich Pro,FAMILY,4.4,201.0,2700000.0,5000,Paid,399.99,Everyone,Entertainment,"May 30, 2017",1.54,1.6 and up
5364,I am rich (Most expensive app),FINANCE,4.1,129.0,2700000.0,1000,Paid,399.99,Teen,Finance,"December 6, 2017",2,4.0.3 and up

In [26]:
# Taking count of different prices
google_apps.Price.value_counts()

0.00      7747
0.99       142
2.99       110
1.99        66
4.99        63
          ...
18.99        1
389.99       1
19.90        1
1.75         1
1.04         1
Name: Price, Length: 87, dtype: int64

In [27]:
# Finally converting to Numeric type

google_apps['Reviews'] = pd.to_numeric(google_apps['Reviews'])

In [28]:
# using describe from pandas we will get the below information from numeric columns

google_apps.describe()

            Rating       Reviews          Size      Installs        Price
count  8432.000000  8.432000e+03  8.432000e+03  8.432000e+03  8432.000000
mean      4.183847  1.206553e+05  2.039529e+07  3.724212e+06     1.225972
std       0.513070  9.363450e+05  2.182754e+07  2.482940e+07    18.028685
min       1.000000  0.000000e+00  8.500000e+03  0.000000e+00     0.000000
25%       4.000000  1.700000e+01  4.600000e+06  1.000000e+03     0.000000
50%       4.300000  4.755000e+02  1.200000e+07  5.000000e+04     0.000000
75%       4.500000  1.566725e+04  2.800000e+07  1.000000e+06     0.000000
max       5.000000  4.489172e+07  1.000000e+08  1.000000e+09   400.000000

#### Preprocessing the dataset on User Reviews

In [29]:
#Reading Data using Pandas Library
#Method read_csv is used to read the CSV file which is our dataset file format

userreviews = pd.read_csv("googleplaystore_user_reviews.csv")
userreviews

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [30]:
# eliminating duplicates and na's from user reviews data

userreviews=userreviews.dropna().drop_duplicates()

# checking lengths of user reviews after removing the na and duplicates

len(userreviews)

29692

In [31]:
# checking data type of attributes using "info()"

print(userreviews.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29692 entries, 0 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     29692 non-null  object
 1   Translated_Review       29692 non-null  object
 2   Sentiment               29692 non-null  object
 3   Sentiment_Polarity      29692 non-null  float64
 4   Sentiment_Subjectivity  29692 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.4+ MB
None

In [32]:
# checking nulls sums in the attributes

userreviews.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [33]:
# we have created a function to display dtypes, 
# number of null values in a attribute, and unique count of attributes when ever we call this function

def reviewsprintinfo():
    temp = pd.DataFrame(index=userreviews.columns)
    temp['data_type'] = userreviews.dtypes
    temp['null_count'] = userreviews.isnull().sum()
    temp['unique_count'] = userreviews.nunique()
    return temp

In [34]:
# now we are checking for object types for attribute

reviewsprintinfo()

                       data_type  null_count  unique_count
App                       object           0           865
Translated_Review         object           0         27994
Sentiment                 object           0             3
Sentiment_Polarity       float64           0          5410
Sentiment_Subjectivity   float64           0          4474

In [35]:
# using to_csv we are saving the data to csv file in current working directory

google_apps.to_csv('google_apps.csv', index=False)

#### Preprocessing the dataset on Permissions

In [36]:
# Used to change the display format

pd.options.display.float_format = "{:,.2f}".format

In [37]:
#Reading Data using Pandas Library
#Method read_csv is used to read the CSV file which is our dataset file format

Permission = pd.read_csv("Permissions_all.csv")

In [38]:
# displays top 5 rows in the dataframe

Permission.head()

,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Installs,Minimum_Installs,Maximum_Installs,Free,...,Developer Email,Released,Last_Updated,Content Rating,Privacy Policy,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time,Permissions
0,0,Gakondo,com.ishakwe.gakondo,Adventure,0.00,0.00,10+,10.00,15,True,...,jean21101999@gmail.com,26-Feb-20,26-Feb-20,Everyone,https://beniyizibyose.tk/projects/,False,False,False,6/15/2021 20:19,"{""Camera"": [""take pictures and videos""], ""Othe..."
1,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.40,64.00,"5,000+","5,000.00",7662,True,...,webserveis@gmail.com,21-May-20,6-May-21,Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,6/15/2021 20:19,"{""Other"": [""full network access"", ""prevent dev..."
2,2,Vibook,com.doantiepvien.crm,Productivity,0.00,0.00,50+,50.00,58,True,...,vnacrewit@gmail.com,9-Aug-19,19-Aug-19,Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,6/15/2021 20:19,NaN
3,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.00,5.00,10+,10.00,19,True,...,climatesmarttech2@gmail.com,10-Sep-18,13-Oct-18,Everyone,NaN,True,False,False,6/15/2021 20:19,NaN
4,4,GROW.me,com.horodyski.grower,Tools,0.00,0.00,100+,100.00,478,True,...,rmilekhorodyski@gmail.com,21-Feb-20,12-Nov-18,Everyone,http://www.horodyski.com.pl,False,False,False,6/15/2021 20:19,"{""Identity"": [""find accounts on the device""], ..."

In [39]:
# Eliminating unwanted attribute

Permission.drop(columns=['Installs', 'Minimum_Installs','Minimum_Android','Developer Website','Developer Email', 'Privacy Policy'], inplace=True)

# displays top 5 rows

Permission.head()

,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Maximum_Installs,Free,Price,Currency,Size,Develop_Id,Released,Last_Updated,Content Rating,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time,Permissions
0,0,Gakondo,com.ishakwe.gakondo,Adventure,0.00,0.00,15,True,0.00,USD,10M,Jean Confident Irénée NIYIZIBYOSE,26-Feb-20,26-Feb-20,Everyone,False,False,False,6/15/2021 20:19,"{""Camera"": [""take pictures and videos""], ""Othe..."
1,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.40,64.00,7662,True,0.00,USD,2.9M,Webserveis,21-May-20,6-May-21,Everyone,True,False,False,6/15/2021 20:19,"{""Other"": [""full network access"", ""prevent dev..."
2,2,Vibook,com.doantiepvien.crm,Productivity,0.00,0.00,58,True,0.00,USD,3.7M,Cabin Crew,9-Aug-19,19-Aug-19,Everyone,False,False,False,6/15/2021 20:19,NaN
3,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.00,5.00,19,True,0.00,USD,1.8M,Climate Smart Tech2,10-Sep-18,13-Oct-18,Everyone,True,False,False,6/15/2021 20:19,NaN
4,4,GROW.me,com.horodyski.grower,Tools,0.00,0.00,478,True,0.00,USD,6.2M,Rafal Milek-Horodyski,21-Feb-20,12-Nov-18,Everyone,False,False,False,6/15/2021 20:19,"{""Identity"": [""find accounts on the device""], ..."

In [40]:
# Updating the name of the attribute
Permission = Permission.rename(columns={"Maximum_Installs": "Install"})

# displays top 5 rows
Permission.head()

,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Install,Free,Price,Currency,Size,Develop_Id,Released,Last_Updated,Content Rating,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time,Permissions
0,0,Gakondo,com.ishakwe.gakondo,Adventure,0.00,0.00,15,True,0.00,USD,10M,Jean Confident Irénée NIYIZIBYOSE,26-Feb-20,26-Feb-20,Everyone,False,False,False,6/15/2021 20:19,"{""Camera"": [""take pictures and videos""], ""Othe..."
1,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.40,64.00,7662,True,0.00,USD,2.9M,Webserveis,21-May-20,6-May-21,Everyone,True,False,False,6/15/2021 20:19,"{""Other"": [""full network access"", ""prevent dev..."
2,2,Vibook,com.doantiepvien.crm,Productivity,0.00,0.00,58,True,0.00,USD,3.7M,Cabin Crew,9-Aug-19,19-Aug-19,Everyone,False,False,False,6/15/2021 20:19,NaN
3,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.00,5.00,19,True,0.00,USD,1.8M,Climate Smart Tech2,10-Sep-18,13-Oct-18,Everyone,True,False,False,6/15/2021 20:19,NaN
4,4,GROW.me,com.horodyski.grower,Tools,0.00,0.00,478,True,0.00,USD,6.2M,Rafal Milek-Horodyski,21-Feb-20,12-Nov-18,Everyone,False,False,False,6/15/2021 20:19,"{""Identity"": [""find accounts on the device""], ..."

In [41]:
# Making a copy of permission data frame

Permission_Copy = Permission.copy()

# Checking Data type of the data frame

Permission_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1048575 non-null  int64
 1   App               1048574 non-null  object
 2   App Id            1048575 non-null  object
 3   Category          1048575 non-null  object
 4   Rating            1038265 non-null  float64
 5   RatingCount       1038265 non-null  float64
 6   Install           1048575 non-null  int64
 7   Free              1048575 non-null  bool
 8   Price             1048575 non-null  float64
 9   Currency          1048513 non-null  object
 10  Size              1048483 non-null  object
 11  Develop_Id        1048565 non-null  object
 12  Released          1016542 non-null  object
 13  Last_Updated      1048575 non-null  object
 14  Content Rating    1048575 non-null  object
 15  Ad_Supported      1048575 non-null  bool
 16  In_App_Purchases  1048575 non-null  bool
 17  Editors_Choice    1048575 non-null  bool
 18  Scraped_Time      1048575 non-null  object
 19  Permissions       862506 non-null   object
dtypes: bool(4), float64(3), int64(2), object(11)
memory usage: 132.0+ MB

In [42]:
# Update the datatype of the attribute 'Size' to float and Add Size units
# Split Size number and Size Unit (M,k,G, Varies with device) separately into column Size and Size Unit

Permission_Copy[['Size','SizeUnit']] = Permission_Copy['Size'].str.extract(r"(?P<Size>\d*[\.\,]?\d*)(?P<SizeUnit>\D*)", expand=False)

In [43]:
# Eliminate comma inside numbers (for instance. 1,024 -> 1024)
Permission_Copy['Size'] = Permission_Copy['Size'].str.replace(',', '')

In [44]:
# update 'Size' attribute to float, any error, empty string (from Varies with device) -> NaN

Permission_Copy['Size'] = pd.to_numeric(Permission_Copy['Size'], errors='coerce')

In [45]:
# we created a function to convert size into MB
def mb_converter(row):
  if row['SizeUnit'] == 'k':
    return row['Size']/1024
  elif row['SizeUnit'] == 'G':
    return row['Size']*1024
  elif row['SizeUnit'] == 'M':
    return row['Size']

Permission_Copy['Size']=Permission_Copy.apply(mb_converter, axis = 1)

In [46]:
# Eliminating the attribute 'SizeUnit' (which is not required) & Pusing the changes in the copy to Permission (original dataframe)
Permission = Permission_Copy.drop('SizeUnit', axis = 1)
# Display top 5 rows

Permission.head()

,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Install,Free,Price,Currency,Size,Develop_Id,Released,Last_Updated,Content Rating,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time,Permissions
0,0,Gakondo,com.ishakwe.gakondo,Adventure,0.00,0.00,15,True,0.00,USD,10.00,Jean Confident Irénée NIYIZIBYOSE,26-Feb-20,26-Feb-20,Everyone,False,False,False,6/15/2021 20:19,"{""Camera"": [""take pictures and videos""], ""Othe..."
1,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.40,64.00,7662,True,0.00,USD,2.90,Webserveis,21-May-20,6-May-21,Everyone,True,False,False,6/15/2021 20:19,"{""Other"": [""full network access"", ""prevent dev..."
2,2,Vibook,com.doantiepvien.crm,Productivity,0.00,0.00,58,True,0.00,USD,3.70,Cabin Crew,9-Aug-19,19-Aug-19,Everyone,False,False,False,6/15/2021 20:19,NaN
3,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.00,5.00,19,True,0.00,USD,1.80,Climate Smart Tech2,10-Sep-18,13-Oct-18,Everyone,True,False,False,6/15/2021 20:19,NaN
4,4,GROW.me,com.horodyski.grower,Tools,0.00,0.00,478,True,0.00,USD,6.20,Rafal Milek-Horodyski,21-Feb-20,12-Nov-18,Everyone,False,False,False,6/15/2021 20:19,"{""Identity"": [""find accounts on the device""], ..."

In [47]:
# update attribute 'Released' and 'Last Updated' to year-month-date
Permission['Released'] = pd.to_datetime(Permission['Released'], format='%d-%b-%y')

#displays data after update
Permission['Released']

0         2020-02-26
1         2020-05-21
2         2019-08-09
3         2018-09-10
4         2020-02-21
             ...
1048570   2015-08-17
1048571   2013-11-12
1048572   2018-12-19
1048573   2020-01-08
1048574   2019-11-22
Name: Released, Length: 1048575, dtype: datetime64[ns]

In [48]:
# update attribute 'Released' and 'Last Updated' to year-month-date
Permission['Last_Updated'] = pd.to_datetime(Permission['Last_Updated'], format='%d-%b-%y')

#displays data after update
Permission['Last_Updated']

0         2020-02-26
1         2021-05-06
2         2019-08-19
3         2018-10-13
4         2018-11-12
             ...
1048570   2019-05-10
1048571   2016-04-19
1048572   2019-01-02
1048573   2020-01-17
1048574   2019-11-22
Name: Last_Updated, Length: 1048575, dtype: datetime64[ns]

In [49]:
#Updating every boolean value to 0 & 1 (False/True)
Permission.loc[Permission['Free'] == True,'Free'] = 1
Permission.loc[Permission['Free'] == False,'Free'] = 0
Permission.loc[Permission['Ad_Supported'] == True,'Ad Supported'] = 1
Permission.loc[Permission['Ad_Supported'] == False,'Ad Supported'] = 0
Permission.loc[Permission['In_App_Purchases'] == True,'In App Purchases'] = 1
Permission.loc[Permission['In App Purchases'] == False,'In App Purchases'] = 0
Permission.loc[Permission['Editors_Choice'] == True,'Editors Choice'] = 1
Permission.loc[Permission['Editors_Choice'] == False,'Editors Choice'] = 0

In [50]:
# updating the attributes data type to 'int'
Permission[['Free','Ad_Supported','In_App_Purchases','Editors_Choice']]=Permission[['Free','Ad_Supported','In_App_Purchases','Editors_Choice']].astype('int')

In [51]:
# Update Scrapped time datatype and calculate App Age
Permission['Scraped_Time'] = pd.to_datetime(Permission['Scraped_Time'])

# formating the scrape time to year-month-days
Permission['Scraped_Time'] = Permission['Scraped_Time'].dt.strftime('%Y-%m-%d')

# updating data type
Permission['Scraped_Time'] = pd.to_datetime(Permission['Scraped_Time'])

In [52]:
# Dealing with Missing Values
Permission.isna().sum()

Unnamed: 0               0
App                      1
App Id                   0
Category                 0
Rating               10310
RatingCount          10310
Install                  0
Free                     0
Price                    0
Currency                62
Size                 33890
Develop_Id              10
Released             32033
Last_Updated             0
Content Rating           0
Ad_Supported             0
In_App_Purchases         0
Editors_Choice           0
Scraped_Time             0
Permissions         186069
Ad Supported             0
In App Purchases    959986
Editors Choice           0
dtype: int64

In [53]:
# Dealing with Null Values in 'App' attribute and updating the NA's name by 'Unname'
Permission['App'].fillna('Unname', inplace=True)

In [54]:
# Rating and Rating Count: 22883 null values
# Checking the % of NA in 'Rating' attribute
Permission.Rating.isna().sum()/Permission.shape[0]

0.009832391579047755

In [55]:
# Replacing Rating NA by '0' in 'Rating' attribute
Permission.Rating.fillna(0, inplace=True)

In [56]:
# Taking count of different rating count values
Permission['RatingCount'].value_counts()

0.00            480073
5.00             29194
6.00             24508
7.00             21391
8.00             18461
                 ...
39,209.00            1
3,136,024.00         1
9,402.00             1
60,605.00            1
37,375.00            1
Name: RatingCount, Length: 23829, dtype: int64

In [57]:
# Updating NA's in Rating Count by '0'

Permission['RatingCount'].fillna('0', inplace=True)

In [58]:
# Updating rating count to float

Permission['RatingCount'] = pd.to_numeric(Permission['RatingCount'], downcast='float')

In [59]:
# Checking nulls in 'Currency' attribute. app's with no currency are free
Permission[(Permission['Currency'].isna()) & (Permission['Price']>0)].shape[0]

0

In [60]:
# Updating na with USD in Currency attribute
Permission['Currency'].fillna('USD', inplace=True)

In [61]:
# checking null is the attribute Size
# Apps belonging to the same category typically have a similar size range.
# Therefore, for apps with null size values, we will use the category average.

In [62]:
# For reference, obtain a series of average category sizes.
cate_avg_size = Permission.groupby('Category')['Size'].mean()

In [63]:
# Function to Update the na with the avg size according to their category
def fill_size(row):
  global cate_avg_size
  return cate_avg_size[row['Category']]

Permission.loc[Permission['Size'].isna(), 'Size'] = Permission[Permission['Size'].isna()].apply(fill_size, axis = 1)

In [64]:
# Checking for null in the attribute Develop_Id ,update All nulls in 'Developer ID' to Unknown
Permission['Develop_Id'].fillna('Unknown', inplace=True)

In [65]:
# Checking for null in the attribute Released ,update All nulls in 'Released' to Last Updated
Permission.loc[Permission.Released.isna(),'Released'] = Permission[Permission.Released.isna()]['Last_Updated']

In [66]:
# Checking for Repeated Values
# No row exactly duplicated
Permission.duplicated().sum()

0

In [67]:
# verify app with same name from same developer
Permission[['App','Develop_Id']].duplicated().sum()

959

In [68]:
# Use App Name and Last Updated to arrange the dataframe (grouping same App Name with order of Last Updated come first)
# After that, remove any duplicate apps with the same developer ID while maintaining the most recent app (keep = "last").
Permission = Permission.sort_values(['App','Last_Updated']).drop_duplicates(['App','Develop_Id'], keep='last')

In [69]:
# arrange the remaining index back into its original order, then reset the index so that it starts over at 0.
Permission = Permission.sort_index().reset_index()

In [70]:
Permission[['App','Develop_Id']].duplicated().sum()

0

In [71]:
#Dealing with Mislabeled & Corrupted Data and Improve the main category column's precision One large game category may contain numerous subcategories.
Permission['Category'].value_counts()

Education                  108958
Music & Audio               70205
Tools                       65279
Business                    64968
Entertainment               62583
Lifestyle                   53806
Books & Reference           52957
Personalization             40403
Health & Fitness            37745
Productivity                36166
Shopping                    34271
Food & Drink                33464
Travel & Local              30486
Finance                     29603
Arcade                      24414
Puzzle                      23083
Casual                      22842
Communication               21708
Sports                      21420
Social                      20324
News & Magazines            19385
Photography                 16349
Medical                     14393
Action                      12547
Maps & Navigation           12134
Adventure                   10563
Simulation                  10501
Educational                  9557
Art & Design                 8480
Auto & Vehicles              8191
House & Home                 6555
Video Players & Editors      6318
Events                       5852
Trivia                       5367
Beauty                       5336
Board                        4829
Racing                       4741
Role Playing                 4534
Word                         3857
Strategy                     3821
Card                         3663
Weather                      3268
Dating                       2994
Libraries & Demo             2411
Casino                       2317
Music                        1922
Parenting                    1723
Comics                       1323
Name: Category, dtype: int64

In [72]:
# Taking reference from this: https://support.google.com/googleplay/android-developer/answer/9859673 for main category
main_category_dict = {'Adventure':'Game', 'Tools':'Tools', 'Productivity':'Productivity', 'Communication':'Communication', 'Social':'Social',
       'Libraries & Demo':'Libraries & Demo', 'Lifestyle':'Lifestyle', 'Personalization':'Personalization', 'Racing':'Game',
       'Maps & Navigation':'Maps & Navigation', 'Travel & Local':'Travel & Local', 'Food & Drink':'Food & Drink',
       'Books & Reference':'Books & Reference', 'Medical':'Medical', 'Puzzle':'Game', 'Entertainment':'Entertainment',
       'Arcade':'Game', 'Auto & Vehicles':'Auto & Vehicles', 'Photography':'Photography', 'Health & Fitness':'Health & Fitness',
       'Education':'Education', 'Shopping':'Shopping', 'Board':'Game', 'Music & Audio':'Music & Audio', 'Sports':'Game',
       'Beauty':'Beauty', 'Business':'Business', 'Educational':'Game', 'Finance':'Finance', 'News & Magazines':'News & Magazines',
       'Casual':'Game', 'Art & Design':'Art & Design', 'House & Home':'House & Home', 'Card':'Game', 'Events':'Events',
       'Trivia':'Game', 'Weather':'Weather', 'Strategy':'Game', 'Word':'Game', 'Video Players & Editors':'Video Players & Editors',
       'Action':'Game', 'Simulation':'Game', 'Music':'Game', 'Dating':'Dating', 'Role Playing':'Game',
       'Casino':'Game', 'Comics':'Comics', 'Parenting':'Parenting'}

In [73]:
# Function to create new attribute 'Main Category'
def main_cate(row):
  global main_category_dict
  return main_category_dict[row['Category']]

Permission['Main Category'] = Permission.apply(main_cate, axis = 1)

In [74]:
# Taking count of differenct currencies
Permission['Currency'].value_counts()

USD    1047016
XXX        592
INR          2
CAD          1
EUR          1
VND          1
GBP          1
BRL          1
KRW          1
Name: Currency, dtype: int64

In [75]:
# Checking for prices with other currencies with price > 0
Permission[(Permission['Currency']!='USD') & (Permission['Price']>0)].shape[0]

0

In [76]:
# We can see that there is no other currency other than USD, so we can remove 'Currency' attribute
Permission.drop('Currency', axis= 1, inplace=True)

In [77]:
# Checking for counts of different content rating
Permission['Content Rating'].value_counts()

Everyone           915840
Teen                89129
Mature 17+          27166
Everyone 10+        15353
Adults only 18+        64
Unrated                64
Name: Content Rating, dtype: int64

##### Ref: https://support.google.com/googleplay/answer/6209544#zippy=%2Cnorth-south-america

In [78]:
# Changing Unrated to Adult only 18+

Permission.loc[Permission['Content Rating']=='Unrated','Content Rating'] = 'Adults only 18+'

In [79]:
# adjust Release and Last Update date attributes, If Released Date > Last Updated => change released date = last updated
dfx = Permission[Permission['Last_Updated'] < Permission.Released]
Permission['tempday'] = '1'
Permission.loc[Permission['Last_Updated'] < Permission.Released, 'tempday'] = Permission[Permission['Last_Updated'] < Permission.Released]['Released']
Permission.loc[Permission['Last_Updated'] < Permission.Released, 'Released'] = Permission[Permission['Last_Updated'] < Permission.Released]['Last_Updated']
Permission.loc[Permission['Last_Updated'] < Permission.Released, 'Last_Updated'] = Permission[Permission['Last_Updated'] < Permission.Released]['tempday']
Permission.drop(columns='tempday', inplace=True)

In [80]:
# datetime format

Permission['Released'] = pd.to_datetime(Permission['Released'])
Permission['Last_Updated'] = pd.to_datetime(Permission['Last_Updated'])

# Split into day month and year

Permission['Released_day'] = Permission.Released.dt.day
Permission['Released_month'] = Permission.Released.dt.month
Permission['Released_year'] = Permission.Released.dt.year

Permission['LU_day'] = Permission['Last_Updated'].dt.day
Permission['LU_month'] = Permission['Last_Updated'].dt.month
Permission['LU_year'] = Permission['Last_Updated'].dt.year

In [81]:
# Adjust those app Price = 0 but not Free App
Permission.loc[(Permission.Price == 0) & (Permission.Free == 0), 'Free'] = 1

In [82]:
# Computing App Age attribute with the help of relese date and scraped time
# Computes installation per year
Permission['App Age'] = ((Permission['Scraped_Time'] - Permission['Released']).dt.days)/365
Permission.loc[Permission['App Age'] >=1, 'Install Per Year'] = Permission['Install']/Permission['App Age']
Permission.loc[Permission['App Age'] <1, 'Install Per Year'] = Permission['Install']

In [83]:
# Using describe we will get statistical summary for the numerical attributes
Permission.describe()

,index,Unnamed: 0,Rating,RatingCount,Install,Free,Price,Size,Ad_Supported,In_App_Purchases,...,In App Purchases,Editors Choice,Released_day,Released_month,Released_year,LU_day,LU_month,LU_year,App Age,Install Per Year
count,"1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00",...,"88,534.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00","1,047,616.00"
mean,"524,309.53","524,309.53",2.18,"2,905.50","304,515.91",0.98,0.10,19.27,0.50,0.08,...,1.00,0.00,15.75,6.41,"2,018.21",15.67,6.17,"2,019.46",2.76,"77,830.04"
std,"302,701.21","302,701.21",2.11,"254,802.48","20,475,277.72",0.14,2.54,23.78,0.50,0.28,...,0.00,0.02,8.80,3.43,2.14,8.83,3.32,1.57,2.11,"3,013,537.35"
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.00,0.00,1.00,1.00,"2,009.00",1.00,1.00,"2,009.00",0.00,0.00
25%,"262,164.75","262,164.75",0.00,0.00,84.00,1.00,0.00,5.00,0.00,0.00,...,1.00,0.00,8.00,3.00,"2,017.00",8.00,3.00,"2,019.00",1.13,40.94
50%,"524,325.50","524,325.50",2.90,6.00,695.00,1.00,0.00,11.00,0.00,0.00,...,1.00,0.00,16.00,6.00,"2,019.00",15.00,6.00,"2,020.00",2.20,305.78
75%,"786,458.25","786,458.25",4.30,41.00,"7,359.00",1.00,0.00,25.00,1.00,0.00,...,1.00,0.00,23.00,9.00,"2,020.00",23.00,9.00,"2,021.00",3.91,"2,913.02"
max,"1,048,574.00","1,048,574.00",5.00,"138,557,568.00","9,766,230,924.00",1.00,400.00,"1,536.00",1.00,1.00,...,1.00,1.00,31.00,12.00,"2,021.00",31.00,12.00,"2,021.00",12.36,"953,426,657.19"

#### Dealing with the Pre-Installed apps

Apps are pre-installed on Android smartphones. These devices often download and install these apps automatically when they are turned on for the first time. This causes a significant spike in the Install count and several extreme anomalies in the Install count dispersion.

In [84]:
# Most of highest install apps are from Google
Prem = Permission.sort_values('Install',ascending=False)
# displays top 5 attributes
Prem.head()

,index,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Install,Free,Price,...,Editors Choice,Main Category,Released_day,Released_month,Released_year,LU_day,LU_month,LU_year,App Age,Install Per Year
880577,881403,881403,YouTube,com.google.android.youtube,Video Players & Editors,4.40,"112,440,544.00",9766230924,1,0.00,...,0.00,Video Players & Editors,20,10,2010,16,6,2021,10.66,"915,897,812.76"
943377,944254,944254,Google Chrome: Fast & Secure,com.android.chrome,Communication,4.10,"31,481,796.00",8925640788,1,0.00,...,0.00,Communication,7,2,2012,14,6,2021,9.36,"953,426,657.19"
892844,893676,893676,Google Drive,com.google.android.apps.docs,Productivity,4.30,"639,307.00",7028265259,1,0.00,...,0.00,Productivity,27,4,2011,9,6,2021,10.15,"692,767,167.04"
385085,385470,385470,WhatsApp Messenger,com.whatsapp,Communication,4.00,"138,557,568.00",6265637751,1,0.00,...,1.00,Communication,18,10,2010,9,6,2021,10.67,"587,302,973.58"
167619,167781,167781,Google TV (previously Play Movies & TV),com.google.android.videos,Video Players & Editors,4.00,"1,825,673.00",6156518915,1,0.00,...,0.00,Video Players & Editors,3,6,2011,14,6,2021,10.04,"613,132,170.25"

In [85]:
# We took refernece for the preinstalled apps form the below link
# - https://en.wikipedia.org/wiki/List_of_most-downloaded_Google_Play_applications
pre_install =  pd.read_excel('Play Store Pre-installed apps.xlsx')
pre_install.head()

                App Name                     Category Pre-installed
0   Google Play Services                        tools           yes
1                YouTube  video editor & social media           yes
2            Google Maps                      mapping           yes
3                 Google                  search tool           yes
4  Google Text-to-Speech           accessibility tool           yes

In [86]:
pre_install_list = list(pre_install['App Name'])

In [87]:
# Develop a pattern for pre-installed app screening
pre_install_pat = '|'.join(pre_install_list)
pre_install_pat

'Google Play Services|YouTube|Google Maps|Google|Google Text-to-Speech|Gmail|Google Chrome|Facebook|Android Accessibility Suite|Google Drive|Google TV|Google Photos|Hangouts|Currents|Google Play Books|Google Play Games|Samsung Push Service|Android System WebView|Google Street View|Skype|Gboard|Google Duo|Google Cloud Print|Samsung Print Service Plugin|Samsung Internet Browser|Google Calendar|Microsoft Word|Samsung My Files|Samsung Gallery|Samsung One UI Home|Samsung Email|Samsung Voice Recorder|Device Care|Samsung Members|Samsung Health|Samsung Calculator|Messages|Samsung Experience Service|Netflix|Secure Folder|Google Play Services for AR|Samsung Notes'

In [88]:
# Eliminating apps in pre-installed list:
Permission = Permission.drop(Permission[Permission['App'].str.contains(pre_install_pat, case=False)].index)

In [89]:
# arranging the values in order
Permission.sort_values('Install',ascending=False).head()

,index,Unnamed: 0,App,App Id,Category,Rating,RatingCount,Install,Free,Price,...,Editors Choice,Main Category,Released_day,Released_month,Released_year,LU_day,LU_month,LU_year,App Age,Install Per Year
385085,385470,385470,WhatsApp Messenger,com.whatsapp,Communication,4.00,"138,557,568.00",6265637751,1,0.00,...,1.00,Communication,18,10,2010,9,6,2021,10.67,"587,302,973.58"
304526,304824,304824,Instagram,com.instagram.android,Social,3.80,"120,206,192.00",3559871277,1,0.00,...,1.00,Social,3,4,2012,14,6,2021,9.21,"386,597,148.50"
740840,741549,741549,Carrier Services,com.google.android.ims,Communication,4.30,"755,024.00",1793502218,1,0.00,...,0.00,Communication,13,3,2017,16,6,2021,4.26,"420,712,281.21"
786953,787700,787700,Subway Surfers,com.kiloo.subwaysurf,Arcade,4.60,"5,304,826.00",1704495994,1,0.00,...,1.00,Game,20,9,2012,10,6,2021,8.74,"194,967,420.18"
730797,731501,731501,SHAREit - Transfer & Share,com.lenovo.anyshare.gps,Tools,4.20,"16,023,749.00",1666016612,1,0.00,...,0.00,Tools,28,4,2013,15,6,2021,8.14,"204,677,234.39"

In [90]:
# Arranging order of columns
Permission = Permission[['App Id', 'App', 'Main Category', 'Category', 'Rating', 'RatingCount', 'Install', 'Free', 'Price', 'Size', 'Develop_Id', 'Released', 'Last_Updated',
 'Content Rating', 'Ad_Supported', 'In_App_Purchases', 'Editors_Choice', 'Released_day', 'Released_month', 'Released_year',
 'LU_day', 'LU_month', 'LU_year','App Age',	'Install Per Year']]

In [91]:
# using to_csv we are saving the file
Permission.to_csv('Permission_cleaned.csv', index=False)